---
import Layout from '@layouts/Layout.astro';

import presentation from '@data/Presentation.ts';
import experience from '@data/Experience.ts';

import ArticuleHeader from '@components/ArticuleHeader.astro';

import FileIcon from '@icons/FileIcon.astro';
import ExpirenceIcon from '@icons/ExpirenceIcon.astro';
import ProjectIcon from '@icons/ProjectIcon.astro';
---

<Layout
 title="Portfolio de Alejo Czombos - Desarrollador Backend / Full Stack"
 description='Desarrollador Backend / Full Stack con experiencia en Spring Boot, Java, MySQL, PostgreSQL y React'
>
<header class="mx-auto max-w-3xl sticky top-0 z-10 h-16">
</header>	
<main class="flex flex-col gap-20 sm:max-w-3xl m-auto p-5">
		
    <article
		  class="flex flex-col gap-8 justify-center sm:flex-row sm:justify-start sm:gap-12"
		>
      <img 
        class="m-auto sm:m-0 size-44 rounded-full shadow-lg border-[8px] dark:border-gray-900/80 border-gray-900"
        src="https://media.licdn.com/dms/image/D4D03AQEuOTiDvAdeMw/profile-displayphoto-shrink_200_200/0/1706145053286?e=1712188800&v=beta&t=RXp9LK6fysGI_rHvTeAcbvnleBkE0eu_2Ntl4-waK88" 
        alt="Foto de perfil de Alejo Czombos"
        >
      <div class="flex flex-col items-center text-center sm:items-start sm:text-start sm:justify-center gap-3">
        <h1 class="text-slate-600 dark:text-slate-100 text-4xl sm-text-xl font-semibold">{presentation.title}</h1>
        <p class="text-balance text-slate-700 dark:text-slate-300 text-lg max-w-xl">{presentation.description}</p>
        <a href="/" class="flex items-center gap-2 px-3 py-2 text-sm font-semibold rounded-xl dark:text-slate-200 text-slate-700 dark:bg-indigo-500 dark:hover:bg-indigo-400/90 bg-indigo-300 hover:bg-indigo-200/90">
          <FileIcon/>
          Curriculum
        </a>
      </div>
		</article>
    <hr class="border-dashed border-1">
    <article class="flex flex-col gap-3">
      <ArticuleHeader name="Experiencia">
        <ExpirenceIcon className="size-9 fill-white"/>
      </ArticuleHeader>
      {experience.map(({ title, company, date_end, date_start, description }) => (
        <div class="flex flex-col gap-1">
        <h2 class="text-lg text-slate-700 dark:text-slate-200 font-semibold">{title}<span class="mx-2">&#x2022</span>{company}</h2>
        <p class="text-sm text-slate-400 dark:text-slate-400">{date_start} - {date_end}</p>
      </div>  
      <ul class="leading-7 list-disc text-base list-inside text-slate-500 dark:text-gray-300">
        {description.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
      ))}
    </article>
    <ArticuleHeader name="Proyectos">
      <ProjectIcon className="size-9 fill-white"/>
    </ArticuleHeader>
	</main>
</Layout>