---
import type { Experience } from "@data/experience";

interface Props {
  experience: Experience;
}

const { experience } = Astro.props;
const { title, company, date_start, date_end, description } = experience;
---

<article class="flex flex-col gap-5">
  <div class="flex flex-col gap-1">
    <h2 class="text-lg text-slate-700 dark:text-slate-200 font-semibold">
      {title}<span class="mx-2">&#x2022</span>{company}
    </h2>
    <p class="text-sm text-slate-400 dark:text-slate-400">
      {date_start} - {date_end}
    </p>
  </div>
  <ul
    class="leading-7 list-disc text-base font-medium list-inside text-slate-600 dark:text-gray-300"
  >
    {description.map((item: string) => <li>{item}</li>)}
  </ul>
</article>
