---
import { TechIcons, type Project } from "@data/projects.ts";
import LinkIcon from "@icons/LinkIcon.astro";
import { Icon } from "astro-icon/components";
import Tooltip from "./Tooltip.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props;
const { title, description, link: code, techs } = project;
---

<article class="grid md:grid-cols-2 gap-4 sm:gap-7 group">
  <a
    target="_blank"
    href={deploy ? deploy : code}
    class="dark:bg-slate-600 bg-sky-600/10 rounded-xl relative overflow-hidden block aspect-[5/3] shadow"
  >
    <img
      class="rounded-xl object-left-top
          absolute right-0 top-0 left-0 bottom-0 box-content w-full h-full object-contain
          transition-all translate-x-9 translate-y-9 hover:translate-x-6 hover:translate-y-6 duration-500 ease-in-out
          z-10"
      src={image}
      alt={title}
    />
  </a>
  <div class="flex flex-col gap-2.5 justify-center">
    <h3 class="font-bold text-3xl text-slate-800 dark:text-white">{title}</h3>
    <p class="text-slate-600 dark:text-slate-300 text-lg">{description}</p>
    <div class="flex gap-2 items-center mb-1">
      {
        techs.map((tech) => (
          <Tooltip
            text={
              //Map the enum value to the key
              Object.keys(TechIcons)[
                Object.values(TechIcons).indexOf(`${tech}`)
              ]
            }
          >
            <Icon name={`tech/${tech}`} class="size-8" />
          </Tooltip>
        ))
      }
    </div>
    <div class="flex justify-start gap-3">
      {
        deploy && (
          <a
            target="_blank"
            href={deploy}
            class="flex gap-2 group/live hover:gap-6 transition-[gap] items-center text-lg py-2 px-5 bg-slate-900 dark:bg-white text-white dark:text-slate-900 font-bold rounded-lg"
          >
            Deploy
            <LinkIcon className="size-7 stroke-[1px] group-hover/live:rotate-45 transition-transform" />
          </a>
        )
      }
      <a
        href={code}
        class="text-lg px-4 py-2 bg-slate-900 dark:bg-white text-white dark:text-slate-900 hover:dark:bg-slate-200 hover:bg-slate-700 font-bold rounded-lg"
      >
        Repositorio
      </a>
    </div>
  </div>
</article>
